@using ShanellStore.DataLayer.Entities.Permission
@model ShanellStore.DataLayer.Entities.User.Role
@{
    ViewData["Title"] = "EditRole";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    List<Permission> permissions = ViewData["Permissions"] as List<Permission>;
}
<form asp-action="EditRole" asp-controller="Roles" asp-area="Admin" method="post">
    <input type="hidden" asp-for="RoleId"/>
    <div class="col-md-8">
        <div class="form-group">
            <label>عنوان نقش</label>
            <input class="form-control" asp-for="RoleTitle" name="RoleTitle">
        </div>
        <input type="submit" value="ثبت" class="btn btn-success"/>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-adjust fa-fw"></i> مدیریت دسترسی ها
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                @{
                    List<int> SelectedPermissions = ViewData["SelectedPermissions"] as List<int>;
                }
                <ul>
                    @foreach (var permission in permissions.Where(p => p.ParentID == null))
                    {
                        <li>
                            <input type="checkbox" name="SelectedPermission" @((SelectedPermissions.Any(p => p == permission.PermissionId) ? "checked" : "")) value="@permission.PermissionId" /> @permission.PermissionTitle

                            @if (permissions.Any(p => p.ParentID == permission.ParentID))
                            {
                                <ul>
                                    @foreach (var sub in permissions.Where(p => p.ParentID == permission.PermissionId))
                                    {
                                        <li>
                                            <input type="checkbox" @((SelectedPermissions.Any(p => p == sub.PermissionId) ? "checked" : "")) name="SelectedPermission" value="@sub.PermissionId" /> @sub.PermissionTitle
                                            @if (permissions.Any(p => p.ParentID == sub.ParentID))
                                            {
                                                <ul>

                                                    @foreach (var sub2 in permissions.Where(p => p.ParentID == sub.PermissionId))
                                                    {
                                                        <li>
                                                            <input type="checkbox" @((SelectedPermissions.Any(p => p == sub2.PermissionId) ? "checked" : "")) name="SelectedPermission" value="@sub2.PermissionId" /> @sub2.PermissionTitle
                                                        </li>
                                                    }
                                                </ul>
                                            }
                                        </li>
                                    }
                                </ul>
                            }
                        </li>
                    }
                </ul>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</form>